<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Garage</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
  </head>
  <body>
    <div class="hero bg-base-200 min-h-screen">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Garage</h1>
          <div class="badge badge-primary badge-outline">
            currently {{.State}}
          </div>
          <div hx-swap="none" class="pt-2">
            <button class="btn btn-success" hx-post="/open">Open</button>
            <button class="btn btn-warning" hx-post="/close">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
